/*–––––––––––––––––––––––––GRID COMPONENT 2 - CONTENT–––––––––––––––––––––––––*/
.content {
    /* grid properties */
    grid-area: content;
    /* display properties */
    display: flex;
    flex-direction: column;
    overflow: hidden;
    /* spacing */
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 2%;
}

/*–––––––––––––––––––––––––FONT STYLES–––––––––––––––––––––––––*/
.title {
    /* styles */
    font-family: 'Crimson Text';
    font-weight: 700;
    font-size: 48px;
    color: black;
    /* spacing */
    margin-top: 1%;
}

.sub-title {
    /* styles */
    font-family: 'Crimson Text';
    font-weight: 700;
    font-size: 40px;
    color: #C00404;
    /* spacing */
    margin-top: 1%;
}

.serif-content-text {
    /* styles */
    font-family: 'Crimson Text';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    /* spacing */
    margin-top: 1%;
    margin-bottom: 1%;
}

.drop-down-menu-box {
    /* styles */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    color: #C00404;
    border: #C00404 solid;
    max-width: 20%;
    min-height: 50px;
    /* spacing */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    margin-top: 2%;
    margin-bottom: 1%;
    cursor: pointer;
}

.drop-down-text {
    font-size: 15px;
    color: #C00404;
}

span svg {
    fill: #fccc58;
    height: 1em;
    vertical-align: -0.1875em;
}

.new-page-link {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    color: black;
    border-bottom: #d1d1d1 solid;
    /* spacing */
    padding-bottom: 1%;
    margin-top: 1.5%;
    max-width: 20%;
    cursor: pointer;
    margin-bottom: 2%;
}

/*–––––––––––––––––––––––––MEDIA SCREEN ADAPTATION–––––––––––––––––––––––––*/
/*Tablet Screen Adjustments*/
@media screen and (max-width: 1024px) {
    .title {
        font-size: 36px;
    }

    .sub-title {
        font-size: 32px;
    }

    .serif-content-text {
        font-size: 16px;
    }

    .drop-down-menu-box {
        min-height: 40px;
        font-size: 11px;
        max-width: 30%;
    }

    .drop-down-text {
        font-size: 11px;
    }

    .new-page-link {
        font-size: 11px;
        max-width: 30%;
    }
}

/*Mobile Screen Adjustments*/
@media screen and (max-width: 420px) {
    .drop-down-menu-box {
        max-width: 55%;
        padding: 3%;
        margin-top: 2%;
        margin-bottom: 3%;
    }

    .new-page-link {
        padding-bottom: 2%;
        margin-top: 1.5%;
        max-width: 65%;
    }
}